In [25]:
import pandas as pd
import numpy as np
from scipy.stats import norm,pearsonr
import io
from scipy import stats

In [26]:
df=pd.read_csv('Education and gender equality.csv')
df=df.loc[0:35]
df

,S.no.,Category,State/UT,Unnamed: 3,Education,Gender Equality
0,1.0,State,Andhra Pradesh,NaN,50.0,58.0
1,2.0,State,Arunachal Pradesh,NaN,41.0,37.0
2,3.0,State,Assam,NaN,43.0,25.0
3,4.0,State,Bihar,NaN,29.0,48.0
4,5.0,State,Chhattisgarh,NaN,55.0,64.0
5,6.0,State,Goa,NaN,71.0,55.0
6,7.0,State,Gujarat,NaN,52.0,49.0
7,8.0,State,Haryana,NaN,64.0,43.0
8,9.0,State,Himachal Pradesh,NaN,74.0,62.0
9,10.0,State,Jharkhand,NaN,45.0,51.0
10,11.0,State,Karnataka,NaN,64.0,57.0
11,12.0,State,Kerala,NaN,80.0,63.0
12,13.0,State,Madhya Pradesh,NaN,45.0,55.0
13,14.0,State,Maharashtra,NaN,64.0,51.0
14,15.0,State,Manipur,NaN,63.0,41.0
15,16.0,State,Meghalaya,NaN,48.0,51.0
16,17.0,State,Mizoram,NaN,60.0,54.0
17,18.0,State,Nagaland,NaN,39.0,48.0
18,19.0,State,Odisha,NaN,45.0,46.0
19,20.0,State,Punjab,NaN,60.0,45.0
20,21.0,State,Rajasthan,NaN,60.0,39.0
21,22.0,State,Sikkim,NaN,58.0,58.0
22,23.0,State,Tamil Nadu,NaN,69.0,59.0
23,24.0,State,Telangana,NaN,63.0,41.0
24,25.0,State,Tripura,NaN,42.0,39.0
25,26.0,State,Uttar Pradesh,NaN,51.0,50.0
26,27.0,State,Uttarakhand,NaN,70.0,46.0
27,28.0,State,West Bengal,NaN,54.0,41.0
28,29.0,Union Territory,Andaman and Nicobar Islands,NaN,57.0,68.0
29,30.0,Union Territory,Chandigarh,NaN,79.0,58.0
30,31.0,Union Territory,Dadra and Nagar Haveli and Daman and Diu,NaN,56.0,53.0
31,32.0,Union Territory,Delhi,NaN,75.0,33.0
32,33.0,Union Territory,Jammu and Kashmir,NaN,49.0,46.0
33,34.0,Union Territory,Ladakh,NaN,49.0,46.0
34,35.0,Union Territory,Lakshadweep,NaN,62.0,58.0
35,36.0,Union Territory,Puducherry,NaN,70.0,66.0

In [27]:
mean = 48

In [28]:
df = df.sort_values('Education',ascending = False)
new_df =df.head(5)
new_df

,S.no.,Category,State/UT,Unnamed: 3,Education,Gender Equality
11,12.0,State,Kerala,NaN,80.0,63.0
29,30.0,Union Territory,Chandigarh,NaN,79.0,58.0
31,32.0,Union Territory,Delhi,NaN,75.0,33.0
8,9.0,State,Himachal Pradesh,NaN,74.0,62.0
5,6.0,State,Goa,NaN,71.0,55.0

In [36]:
import scipy
GndEq=df['Gender Equality']
t_value,p_value = scipy.stats.ttest_1samp(GndEq,mean,alternative='greater')
print('Test statistic is %f'%float("{:.6f}".format(t_value)))

print('p-value for one tailed test is %f'%p_value)

Test statistic is 1.310946
p-value for one tailed test is 0.099206

In [37]:
import scipy
GndEq=df['Gender Equality']
t_value,p_value = scipy.stats.ttest_1samp(GndEq,mean,alternative='less')
print('Test statistic is %f'%float("{:.6f}".format(t_value)))

print('p-value for one tailed test is %f'%p_value)

Test statistic is 1.310946
p-value for one tailed test is 0.900794