In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm,pearsonr
import io
from scipy import stats

In [2]:
df=pd.read_csv('Health and sanitation.csv')
df=df.loc[0:35]
df

,State/UT,Health,Clean water and sanitation
0,Andhra Pradesh,77,92
1,Arunachal Pradesh,64,67
2,Assam,59,64
3,Bihar,66,91
4,Chhattisgarh,60,89
5,Goa,72,100
6,Gujarat,86,93
7,Haryana,72,80
8,Himachal Pradesh,78,85
9,Jharkhand,74,83
10,Karnataka,78,85
11,Kerala,72,89
12,Madhya Pradesh,62,88
13,Maharashtra,83,90
14,Manipur,68,87
15,Meghalaya,70,75
16,Mizoram,79,85
17,Nagaland,61,87
18,Odisha,67,86
19,Punjab,77,66
20,Rajasthan,70,54
21,Sikkim,62,89
22,Tamil Nadu,81,87
23,Telangana,67,96
24,Tripura,67,82
25,Uttar Pradesh,60,83
26,Uttarakhand,77,85
27,West Bengal,76,81
28,Andaman and Nicobar Islands,68,87
29,Chandigarh,74,99
30,Dadra and Nagar Haveli and Daman and Diu,80,95
31,Delhi,90,61
32,Jammu and Kashmir,70,88
33,Ladakh,70,84
34,Lakshadweep,78,100
35,Puducherry,70,91

In [3]:
mean = 74

In [4]:
df = df.sort_values('Clean water and sanitation',ascending = False)
new_df =df.head(5)
new_df

,State/UT,Health,Clean water and sanitation
34,Lakshadweep,78,100
5,Goa,72,100
29,Chandigarh,74,99
23,Telangana,67,96
30,Dadra and Nagar Haveli and Daman and Diu,80,95

In [22]:
import scipy
GndEq=df['Health']
t_value,p_value = scipy.stats.ttest_1samp(GndEq,mean,alternative='greater')
print('Test statistic is %f'%float("{:.6f}".format(t_value)))

print('p-value for one tailed test is %f'%p_value)

Test statistic is -1.722247
p-value for one tailed test is 0.953074

In [23]:
import scipy
GndEq=df['Health']
t_value,p_value = scipy.stats.ttest_1samp(GndEq,mean,alternative='less')
print('Test statistic is %f'%float("{:.6f}".format(t_value)))

print('p-value for one tailed test is %f'%p_value)

Test statistic is -1.722247
p-value for one tailed test is 0.046926